/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2021. máj. 17., 20:00:53
    Author     : karal
*/
*{
    -fx-font-family: "Century Gothic";
}
#oltasvalasztopane{
    -fx-background-image: url("vakcinak.png");
    -fx-background-size: cover;
}
#vakcinakpane{
    -fx-background-image: url("vizsgal.png");
    -fx-background-size: cover;
}
#vakcinaklistak{

    -fx-border-color: grey ;
    -fx-border-width: 1 ;
    -fx-background-color:rgba(255, 255, 255, 0.5);
}
#logpane{
    -fx-background-image: url("dokis.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: cover;
    -fx-background-position: center center;

}

#sumtexts{
    -fx-background-color:rgba(255, 255, 255, 0.5);
}
#sumlabels{
    -fx-fill:white;
    -fx-background-color:rgba(0, 0, 0, 0.4);
    -fx-padding: 0 0 0 5;
}

#regpane{
    -fx-background-image: url("bacsi.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: cover;
    -fx-background-position: center center;

}
#osszesitopane{
    -fx-background-image: url("rendelo.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: cover;
    -fx-background-position: center center;

}
#title{
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-background-color:rgba(0, 0, 0, 0.5);
    -fx-padding: 0 0 0 30;
}

#loglabels{
    -fx-background-color:rgba(0, 0, 0, 0.1);
    -fx-padding: 0 0 0 5;
}

#reglabels{
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-background-color:rgba(0, 0, 0, 0.4);
    -fx-padding: 0 0 0 5;
    -fx-text-alignment: right;
    -fx-padding: 0 5 0 0;
}

#vakcinagombok{
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-background-color:rgba(0, 0, 0, 0.4);
    -fx-font-size: 24;
}

#ratelabels{
    -fx-text-fill: white;
    -fx-background-color:rgba(0, 0, 0, 0.4);
}
#vakcinaratepane{
    -fx-background-image: url("rate.png");
    -fx-background-size:cover;
}
#regtextfields{
    -fx-border-color: grey ;
    -fx-border-width: 1 ;

    -fx-background-color:rgba(255, 255, 255, 0.5);
}
#logtextfields{
    -fx-border-color: grey ;
    -fx-border-width: 1 ;

    -fx-background-color:transparent;
}
.button{
    -fx-border-color: grey ;
    -fx-border-width: 1 ;
    -fx-background-color:transparent;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 16px;
}
.pane {
    -fx-background-image: url("vizsgal.png");

    -fx-background-size:cover;
    -fx-background-position: 200px, 0px, 0px, 0px;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
    /*-fx-background-color: red;*/
}

.menubutton {
    -fx-background-color: rgba(14, 114, 140, 0.8);
    -fx-border-radius: 0;
    -fx-border-style: solid none none none;
    -fx-border-color: white;
    -fx-border-width:1px;    
}

.menubutton:hover {
    -fx-background-color: rgba(14, 114, 140, 0.6);
}

.menubutton:pressed {
    -fx-background-color: rgba(14, 114, 140, 1);

}

.menuhatter {
    -fx-background-color: rgba(14, 114, 140);
}

.logo {
    -fx-background-image: url("szuri.png");
    -fx-background-size: cover;
    -fx-background-color: rgba(19, 111, 134);
}

.table {
    -fx-background-color: rgba(235, 245, 251, .9);
    -fx-border-radius: 5px;
    -fx-border-style: solid;
    -fx-border-color: rgba(235, 245, 251, .9);
    -fx-border-width: 5px;
    -fx-grid-lines-visible: true;
    -fx-vgap: 0.5;
    -fx-hgap: 0.5;
}

.label{
    -fx-padding: 0 15px;
}
